{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <br><br>
    <div class="row">
        <form action="http://query.zk789.net/Home/GetDWF" class="col s12" method="post">
            {{ form.csrf_token }}
            <div class="col s1"></div>
            <div class="col s1">
                <p>成绩：</p>
            </div>
            <div class="col s3">
                {{ form.sore }}
            </div>
            <div class="col s1">
                <p>分科：</p>
            </div>
            <div class="col s3">
                {{ form.category }}
            </div>
            <div class="col s2">
                {{ form.submit(class='btn') }}
            </div>
        </form>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}